---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
  <Navbar activeItem="equipment" />

  <div class="container">
    <section class="mt-4">
      <p class="lead text-center">
        Der Makerspace gliedert sich zur Zeit in drei Bereiche.
      </p>

      <div class="row">
        <div class="col-12 col-md-4">
          <h2 class="text-center">Flur</h2>

          <p>
            Das erste was man sieht, wenn man den Makerspace-Bereich der
            Location betritt. Hier wohnen unsere 3D-Drucker.
          </p>
        </div>
        <div class="col-12 col-md-4">
          <h2 class="text-center">Werkstatt</h2>

          <p>Hier kannst du "schweres Gerät" wie eine Standbohrmaschine und Werkbänke finden.</p>
        </div>
        <div class="col-12 col-md-4">
          <h2 class="text-center">Lab</h2>

          <p>
            Hier findest du unsere Elektronik-Werkstatt, mit Lötstationen,
            Oszilloskop und allem, was das Bastlerherz begehrt.
          </p>
        </div>
      </div>
    </section>
  </div>

  {
    /*
  <div class="container">
    <section class="row mt-4">
      <div class="col-lg-4 d-none d-lg-block d-xl-block d-xxl-block">
        <img src="https://placehold.co/700x800" class="img-fluid rounded" />
      </div>
      <div class="col-lg-8">
        <h1>Drucker</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">
          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Bambu Lab X1-Carbon</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Prusa i3 MK3S+</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Prusa SL1S</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="row mt-5">
      <div class="col-lg-4 order-last d-none d-lg-block d-xl-block d-xxl-block">
        <img src="https://placehold.co/700x1600" class="img-fluid rounded" />
      </div>
      <div class="col-lg-8">
        <h1>Lab</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">
          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <section class="row mt-5">
      <div class="col-lg-4 d-none d-lg-block d-xl-block d-xxl-block">
        <img src="https://placehold.co/700x1600" class="img-fluid rounded" />
      </div>
      <div class="col-lg-8">
        <h1>Werkstatt</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">
          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="https://placehold.co/600x400" alt="3D-Drucker" />
              <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  expedita eius atque esse excepturi veniam minima voluptatem
                  sequi magni officia doloribus, ullam aliquid quia beatae non
                  distinctio eos dolor a!
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
  </div>
  */
  }
</Layout>
