---
import side from "../images/side.jpg";
import logo_wide from "../images/logos/InnRaum3_Logo-Standorte_RGB_wide.webp";
import logo_interreg from "../images/logos/interreg.webp";
import logo_innkubator from "../images/logos/innkubator.webp";
import logo_stadt_passau from "../images/logos/stadt_passau.jpg";
import logo_techno_z_ried from "../images/logos/techno_z_ried.jpg";
import logo_techno_z_schaerding from "../images/logos/techno_z_schaerding.webp";
import logo_universitaet_passau from "../images/logos/universitaet_passau.webp";

import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
  <Navbar activeItem="home" />
  <div class="container col-xxl-8 px-4 py-5">
    <img src={logo_wide} alt="Makerspace Ried" class="img-fluid">
    <div class="row align-items-center g-5 py-5">
      <div class="col-lg-6 text-center d-none d-lg-block d-xl-block d-xxl-block">
        <img
          src={side}
          class="rounded img-fluid"
          alt="3D-Drucker"
          loading="lazy"
          width="700"
          height="500"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Makerspace Ried i. I.</h1>
        <p class="lead">
          In der Wohlmayrgasse 4, mitten im Stadtzentrum von Ried ist der
          Makerspace als Teil des Projektes "Grenzüberschreitender
          Innovationsraum³" zuhause. Die von der Stadtgemeinde Ried zur
          Verfügung gestellten Räume bieten viel Platz für Jung und Alt, für
          Private und Unternehmen, für Kreative und Umsetzer.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="/join">Mitmachen</a>
          <a class="btn btn-outline-secondary btn-lg px-4" href="/equipment">Austattung</a>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <h3 class="text-center">
        Der grenzüberschreitende Innovationsraum wird von folgenden Partnern gefördert
      </h3>

      <div class="row justify-content-center">
        <div class="col-12 px-4 py-5">
          <img src={logo_interreg} alt="Logo Interreg" class="img-fluid">
        </div>
        <div class="col-lg-4 px-4 py-5 text-center g-4 d-flex align-items-center justify-content-center">
          <img src={logo_innkubator} alt="Logo Innkubator" class="img-fluid">
        </div>
        <div class="col-lg-4 px-4 py-5 text-center g-4 d-flex align-items-center justify-content-center">
          <img src={logo_stadt_passau} alt="Logo Stadt Passau" class="img-fluid">
        </div>
        <div class="col-lg-4 px-4 py-5 text-center g-4 d-flex align-items-center justify-content-center">
          <img src={logo_universitaet_passau} alt="Logo Universität Passau" class="img-fluid">
        </div>
        <div class="col-lg-4 px-4 py-5 text-center g-4 d-flex align-items-center justify-content-center">
          <img src={logo_techno_z_ried} alt="Logo Techno-Z Ried" class="img-fluid">
        </div>
        <div class="col-lg-4 px-4 py-5 text-center g-4 d-flex align-items-center justify-content-center">
          <img src={logo_techno_z_schaerding} alt="Logo Techno-Z Schärding" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</Layout>

<style scoped>
  .makerspace-logo {
    height: 219px;
  }
</style>