---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
  <Navbar activeItem="join" />
  <div class="container pt-4">
    <div class="row">
      <div class="col-lg-6 order-lg-last">
        <h1>Discord</h1>
        <p class="lead">
          Unsere Community organisiert sich zur Zeit über Discord. Du willst
          wissen, ob jemand gerade im Makerspace ist oder dir die Tür öffnen
          kann? Du willst eines deiner Projekte virtuell vorstellen und zur
          Diskussion einladen? Oder hast du einfach nur eine Frage an die
          Community? Dann ist unser Discord-Server genau der richtige Ort für
          dich.
        </p>
        <p class="lead">Wir freuen uns auf dich!</p>
        <div class="d-grid gap-2">
          <a
            href="https://discord.gg/S3EZwcxbUV"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary btn-lg"
          >
            <i class="fab fa-discord"></i>
            Discord beitreten
          </a>
        </div>
      </div>
      <div class="col-lg-6 mt-4">
        <iframe
          src="https://discord.com/widget?id=860454486991568928&theme=dark"
          allowtransparency="true"
          frameborder="0"
          sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
        ></iframe>
      </div>
    </div>
  </div>
</Layout>

<style>
  iframe {
    height: 500px;
    width: 100%;
  }
</style>
