---
import "leaflet/dist/leaflet.css";


import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
  <Navbar activeItem="location" />
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-3 mt-4 order-lg-last">
        <div class="container">
          <h2>Location</h2>

          <p class="lead text-">
            Der Makerspace teilt sich die Räumlichkeiten mit dem
            Stadtentwicklungsforum der Stadt Ried i. I., dem <a
              href="https://otelo.or.at/standort/ried-im-innkreis/"
              target="_blank"
              rel="noopener noreferrer">Verein Otelo</a
            > und dem <a
              href="https://www.cowospace.at/cowo/"
              target="_blank"
              rel="noopener noreferrer">Coworking Space des Techno-Z Ried i. I.</a
          </p>

          <h3>Öffnungszeiten</h3>

          <p class="lead">
            Als traditioneller, nicht-kommerzieller Makerspace haben wir keine fixen Öffnungszeiten. Wenn du etwas im Makerspace machen oder ihn einfach nur besichtigen willst, dann
            ist der beste (und einzige) Kommunikationsweg unser <a href="/join">Discord-Server</a>. Dort findest du, wen du anpingen kannst um die Tür geöffnet zu bekommen. Ein richtiges
            Zutrittsystem ist natürlich in Planung.
          </p>

          <h3>Adresse</h3>

          <address class="lead">
            Wohlmayrgasse 4<br />
            4910 Ried im Innkreis<br />
            Österreich
          </address>

          <ul>
            <li>
              <a
                href="https://www.openstreetmap.org/way/395540073"
                target="_blank"
                rel="noopener noreferrer">OpenStreetMap</a
              >
            </li>
            <li>
              <a
                href="https://goo.gl/maps/Yfs3EF4Cy56qvRMe9"
                target="_blank"
                rel="noopener noreferrer">Google Maps</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-lg-9 px-0">
        <div id="map"></div>
      </div>
    </div>
  </div>
</Layout>

<script>
  import "leaflet/dist/leaflet.js";
  import markerIcon from "../images/leaflet/marker-icon.png"
  import markerRetinaIcon from "../images/leaflet/marker-icon-2x.png"

  const coords = [48.20773, 13.48795];
  const map = L.map("map", {
    dragging: false,
    scrollWheelZoom: false
  }).setView(coords, 19);

  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  const icon = L.icon({
    iconUrl: markerIcon,
    iconRetinaUrl: markerRetinaIcon,
    iconSize: [25, 41]
  })
  const marker = L.marker(coords, {
    title: "Makerspace Ried",
    icon: icon
  })
    .bindPopup("Makerspace Ried")
    .addTo(map);
</script>

<style>
  #map {
    height: calc(100vh - 76px);
    width: 100%;
  }
</style>
