---
import qr from "../images/qr-code.svg";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
  <Navbar activeItem="qrcode" />
  <div class="container text-center">
    <a href="https://discord.gg/S3EZwcxbUV" target="_blank" rel="noopener noreferrer">
      <img class="img-fluid" src={qr} alt="https://discord.gg/S3EZwcxbUV">
    </a>

    <p class="lead">
      <a href="https://discord.gg/S3EZwcxbUV" target="_blank" rel="noopener noreferrer">https://discord.gg/S3EZwcxbUV</a>
    </p>
  </div>
</Layout>
