---
import logo from '../images/logos/InnRaum3_Logo-Standorte_RGB.webp'
let { activeItem } = Astro.props;
---

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src={logo} alt="Makerspace Logo" height="50">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            class:list={{ active: activeItem === "join" }}
            aria-current="page"
            href="/join">Mitmachen</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            class:list={{ active: activeItem === "location" }}
            href="/location">Location</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            class:list={{ active: activeItem === "equipment" }}
            href="/equipment">Austattung</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            href="https://discord.gg/S3EZwcxbUV"
            target="_blank"
            rel="noopener noreferrer"
            class="nav-link"
          >
            <i class="fab fa-discord"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="/qr-code"
            class="nav-link"
            class:list={{ active: activeItem === "qrcode" }}
          >
            <i class="fa fa-qrcode"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  import "bootstrap/js/dist/collapse.js";
</script>
