---
import "bootstrap/dist/css/bootstrap.min.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Makerspace Ried</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script src="../scripts/fontawesome.min.js" />
<script src="../scripts/all.min.js" />